@using Domain;
@using Web.Models;
@model CheckoutInfo
<link href="/Content/Cart.css" rel="stylesheet" />
@{
    ViewBag.Title = "CheckOut";
    Customers customer = ViewBag.customer;
    SessionCart cart = ViewBag.cart;
    List<ShippingMethods> sMethods = ViewBag.sMethods;
    List<PaymentMethods> pMethods = ViewBag.pMethods;
}

<script type="text/javascript">
    var newShipping = false;
    $(function () {

    });

    function CheckShipInfo() {
        if (!newShipping)
            return true;
        res = true;
        if ($("#Shipping_Name").attr("value") == "") {
            $("#ship_name_valid_msg").show();
            res = false;
        }
        else
            $("#ship_name_valid_msg").hide();

        if ($("#Shipping_Address").attr("value") == "") {
            $("#ship_address_valid_msg").show();
            res = false;
        }
        else
            $("#ship_address_valid_msg").hide();

        if ($("#Shipping_Zip").attr("value") == "") {
            $("#ship_zip_valid_msg").show();
            res = false;
        }
        else
            $("#ship_zip_valid_msg").hide();

        if ($("#Shipping_Phone").attr("value") == "") {
            $("#ship_num_valid_msg").show();
            res = false;
        }
        else
            $("#ship_num_valid_msg").hide();
        return res;
    }

    function NewShipRbtn_change() {
        newShipping = true;
        $("#consignee_edit_info").show();
        $("a[name = 'ship_modify']").hide();
    }

    function ShippingChange() {
        $('#consignee_edit_info').hide();
        $("a[name='ship_modify']").hide();$(this).find('~ a').show();
        newShipping = false;
    }

    function ShipInfoModify(txt) {
        var strs = txt.split(",");
        $("#Shipping_Name").attr("value", strs[0].trim());
        $("#Shipping_Address").attr("value", strs[1].trim());
        $("#Shipping_Zip").attr("value", strs[2].trim());
        $("#Shipping_Phone").attr("value", strs[3].trim());
        $("#consignee_edit_info").show();
    }

    function ShippingSave() {
        if (!CheckShipInfo())
            return;
        var str;
        if (!newShipping) {
            var rbtn = $("input:checked[name='Shipping.ID']")
            str = rbtn.find("+ span").text();
        }
        else {
            str = $("#Shipping_Name").attr("value") + ", " + $("#Shipping_Address").attr("value") + ", " + $("#Shipping_Zip").attr("value") + ", " + $("#Shipping_Phone").attr("value");
        }
        $("#li_shipview").text(str);
        $("#detail1").hide();
        $("#view1").show();
    }

    function sMethodSave() {
        var span = $("input:checked[name='ShippingMethod.ID'] + span");
        var str = span.text();
        var money = $("#goodsTotal").text();
        var sid = span.attr("sid");

        $("#li_sMethodview").text(str);
        $("#view2").show();
        $("#detail2").hide();
        $.post('@Url.Action("GetExtraPay","Cart")', { sid: sid, goodTotal: money }, function (data) {
            $("#extraPay").text(data);
            total = parseFloat(money) + parseFloat(data);
            $("#total").text("￥"+total);
        });
    }

    function pMethodSave() {
        var str = $("input:checked[name='PaymentMethod.ID'] + b").text();
        $("#li_pMethodview").text(str);
        $("#view3").show();
        $("#detail3").hide();
    }

    function Submit() {
        $("form").submit();
    }
</script>

<div class="shoppingcart_wrapper">
    <div class="shoppingcart_nav shoppingcart_nav2">
        <h1><a href="/cart/">我的购物车</a></h1>
    </div>
    <div class="shoppingcart_footer_experience">请确认以下信息，然后提交订单</div>
    @using(Html.BeginForm())
    {
        <div class="clearing_border">
        @*收货人信息*@
        <div id="div_consignee">
            <div id="view1" class="refer_m" style="display:none;">
                <h4>收货人信息 <span class="modify"><a onclick='$("#view1").hide();$("#detail1").show();' href="javascript:void(0)">[修改]</a></span></h4>
                <ul>
                    <li id="li_shipview"></li>
                </ul>
            </div>

            <div id="detail1" class="consignee" id="consignee_tips" >
                <h3>收货人信息&#12288; <span class="look">
                    <a onclick='$("#view1").show();$("#detail1").hide();' href="javascript:void(0)" class="">[关闭]</a></span>
                </h3>
                <div id="div_myaddress" class="consignee_info">

                    @foreach (var item in customer.Shipping)
                    {
                        <p>
                            @Html.RadioButtonFor(x => x.Shipping.ID, item.ID, new { onchange = "ShippingChange()" })
                            <span>@item.ToString()</span>&nbsp;&nbsp;
                            <a onclick="ShipInfoModify($(this).prev().text());" style="display: none;" name="ship_modify" href="javascript:void(0)">修改</a>
                        </p>
                    }
                    <p>
                        <input type="radio" onchange="NewShipRbtn_change()" id="rd_new_addr" name="Shipping.ID"><input type="hidden" value="0"><span>使用新地址</span>
                    </p>
                </div>
                <div id="consignee_edit_info" class="consignee_modify consignee_modify">
                    <div id="div_consignee_edit_info_display">
                        @Html.HiddenFor(x => x.Shipping.ID)
                        <div class="m_list">
                            <span class="text">收&nbsp;货&nbsp;人：</span>
                            @Html.TextBoxFor(x => x.Shipping.Name, new { @class = "textbox_4" })
                            <span style="display: none;" id="ship_name_valid_msg" class="news_red2">请填写收货人姓名</span>
                        </div>
                        <div class="m_list">
                            <span class="text">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</span>
                            @Html.TextBoxFor(x => x.Shipping.Address, new { @class = "textbox_address" })
                            <span style="display: none;" id="ship_address_valid_msg" class="news_red2">请填写地址</span>
                        </div>
                        <div class="m_list">
                            <span class="text">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编：</span>
                            @Html.TextBoxFor(x => x.Shipping.Zip, new { @class = "textbox_4" })
                            <span style="display: none;" class="news_red2" id="ship_zip_valid_msg">请填写邮编</span>
                        </div>
                        <div class="m_list">
                            <span class="text">手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</span>
                            @Html.TextBoxFor(x => x.Shipping.Phone, new { @class = "textbox_4" })
                            <span style="display: none;" id="ship_num_valid_msg" class="news_red2">请填写联系方式</span>
                        </div>
                    </div>
                    
                </div>
                <div class="button_ts">
                        <input type="button" value="确认收货人信息" id="btn_consignee_save" onclick="ShippingSave()" class="save_button"><div class="clear"></div>
                    </div>
            </div>
        </div>
        @*送货方式*@
        <div id="div_shipment">
            <div id="view2" class="refer_m" style="display:none;">
                <h4>送货方式 <span class="modify"><a onclick='$("#view2").hide();$("#detail2").show();' href="javascript:void(0)">[修改]</a></span></h4>
                <ul>
                    <li id="li_sMethodview">普通快递送货上门</li>
                </ul>
            </div>
            <div class="consignee" id="detail2" >
                <h3 class="change_h3_h"><span id="ship_type_tips">送货方式</span>&#12288;
                    <span class="add_gray2">
                        <a onclick='$("#view2").show();$("#detail2").hide();' href="javascript:void(0)">[关闭]</a>
                    </span>
                </h3>
                <div id="rd_shipinfo">
                    <div class="delivery_title">
                        <ul>
                            <li class="height2"><span class="delivery_text_l1">送货方式</span><span class="delivery_text_l2">运费</span></li>
                        </ul>
                    </div>
                    @foreach (var sm in sMethods)
                    { 
                        <div class="delivery_text">
                            <ul>
                                <li>
                                    @Html.RadioButtonFor(x => x.ShippingMethod.ID, sm.ID, new { @class = "choice_solo" })
                                    <span class="delivery_text_l2" sid="@sm.ID">@sm.Name</span>
                                    <span class="delivery_text_c"> @sm.ExtraPayDescription</span>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
                <div class="clear"></div>
                <div class="button_ts">
                    <input type="button" value="确认送货方式" onclick="sMethodSave()" class="put_in_red"><div class="clear"></div>
                </div>
            </div>
        </div>
        @*付款方式*@
        <div id="div_payment">
            <div id="view3" class="refer_m" style="display:none;">
                <h4>付款方式 <span class="modify"><a onclick='$("#view3").hide();$("#detail3").show();' href="javascript:void(0)">[修改]</a></span></h4>
                <ul>
                    <li id="li_pMethodview">普通快递送货上门</li>
                </ul>
            </div>
            <div class="consignee" id="detail3">
                <h3>付款方式&#12288;<span class="add_gray2">
                    <a onclick='$("#view3").show();$("#detail3").hide();' href="javascript:void(0)">[关闭]</a></span></h3>
                <div id="rd_pay_id">
                    <div class="clearing_payment">
                        @foreach (var pm in pMethods)
                        { 
                            <p class="clearing_payment_nav">
                                @Html.RadioButtonFor(x=>x.PaymentMethod.ID,pm.ID)
                                <b>@pm.Name</b>&nbsp;&nbsp;&nbsp;
                                <span class="hint">
                                    <span class="hint">@pm.Description</span>
                                </span>
                            </p>
                        }
                    </div>
                </div>
                <div class="button_ts">
                    <input type="button" value="确认付款方式" onclick="pMethodSave()"  class="put_in">
                    <span class="news_red2" id="span_payment_save_tips"></span>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div id="div_cartItems">
            <div class="refer_m refer_m2">
                <h4>商品清单</h4>
                <div class="merch_detail">
                    <div class="business_name">
                        <span class="experience">[
                            <a name="gobackshoppingcart" href="/cart/">返回修改购物车
                            </a>]

                        </span>
                        &#12288;
                    </div>
                    <div id="div_order_part">
                        <div class="business_box">
                            <div class="business_box_border">
                                <ul class="shoppingcart_subject">
                                    <li class="col2_name">商品名称</li>
                                    <li class="col2_price">价格</li>
                                    <li class="col2_count">数量</li>
                                    <li class="col2_total">小计</li>
                                </ul>
                                <div class="shoppingcart_general">
                                    @foreach (var item in cart.Items)
                                    { 
                                        <ul class="shoppingcart_list">
                                            <li class="col2_name" title="@item.Title">@item.Title</li>
                                            <li class="col2_price">￥@item.Products.Price</li>
                                            <li class="col2_count">@item.Quantity</li>
                                            <li class="col2_total">￥@item.ItemTotal</li>
                                        </ul>
                                    }
                                    <br class="clear">
                                    <span class="price_charge_border"></span>
                                </div>
                                <div class="price_charge">
                                    <p class="p_charge1">商品金额总计：<span>￥<span id="goodsTotal">@cart.ComputeTotalValue()</span></span></p>
                                    <p class="p_charge1">运费：￥<span id="extraPay">-.--</span></p>
                                    <br class="clear">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="change_total2">
                        <span id="p_payable_tips" class="price">需支付总金额：<span id="total">￥-.--</span></span><br class="clear">
                    </div>
                    <div class="order_refer order_refer2">
                    </div>


                    <div class="clear"></div>

                    <br class="clear">
                    <div class="order_tijiao"><a name="submit" id="submit" href="javascript:Submit();">提交订单</a></div>
                    <div class="clear"></div>
                    <div id="order_submit_error_tips" class="order_tijiao_hint"></div>

                </div>
            </div>
            <ul id="ul_ipt_yzm"></ul>
            <a id="confirm_box_id" href="javascript:for_99click();">
                <input type="hidden" name="package_prod_ids1" id="package_prod_ids1" value="60307706"><input type="hidden" name="package_prod_ids2" id="package_prod_ids2" value="60303485"></a>
        </div>
        <div class="shadow_b add_shadow_b"></div>
    </div>
    }
</div>
