@using Domain
@using Web.Models;
@model Products
<link href="/Content/Product.css" rel="stylesheet" />
<link href="/Content/ShoppingPop.css" rel="stylesheet" />
<script src="/Scripts/jquery-1.7.1.min.js"></script>

@{
    ViewBag.Title = "ProductDetail";
    List<Pictures> pics = Model.Pictures.Where<Pictures>(pic => pic.IsShow).ToList<Pictures>();
    List<Products> historyList = ViewBag.History;
    SessionCart cart = ViewBag.Cart;
}

<script type="text/javascript">
    var color = null, size = null, sizeId = -1, colorId = -1;
    function selectColor(arg) {
        color = $(arg).attr("title");
        colorId = $(arg).attr("id");
        $("#color_wrap a").removeClass("select");
        $(arg).addClass("select");
        var str = "";
        str = str + "\"" + color + "\"、";
        if (size != null) {
            str = str + "\"" + size + "\"";
        }
        $("#itemMessage").attr("style", "display:none");
        $("#p_selectedMsg").attr("style", "");
        $("#selectMsg").empty().append(str);
    }

    function selectSize(arg) {
        size = $(arg).attr("title");
        sizeId = $(arg).attr("id");
        $("#size_wrap a").removeClass("select");
        $(arg).addClass("select");
        var str = "";
        if (color != null) {
            str = str + "\"" + color + "\"、";
        }
        str = str + "\"" + size + "\"";
        $("#itemMessage").attr("style", "display:none");
        $("#p_selectedMsg").attr("style", "");
        $("#selectMsg").empty().append(str);
    }

    function validation() {
        var txt = "请选择";
        var res = true;
        if (sizeId == -1) {
            res = false;
            txt = txt + " 尺寸";
        }
        if (colorId == -1) {
            res = false;
            txt = txt + " 颜色";
        }
        if (!res)
            alert(txt);
        return res;
    }

    function buy()
    {
        if (!validation())
            return false;
        url = '@Url.Action("Buy","Product",new {id=1})';
        var buyNum = $("#buy_num").attr("value");
        $("#buyNum").empty().text(buyNum);
        $.post(url, { count: buyNum, sizeId: sizeId, colorId: colorId }, function (data) {
            var obj = eval("(" + data + ")");
            var itemCount = obj.ItemCount;
            var total = obj.Total;
            $("#cartNum").text(itemCount + "件");
            $("#J_payMoney").text(total);
            //$(".pop_wrap").attr("style","");
            $(".pop_wrap").css("display", "");
        });
    }

    function closePop()
    {
        $(".pop_wrap").attr("style", "display:none");
    }


</script>

<div class="pdt_wrap">
    @* 侧边栏 *@
    <div class="dp_sidebar">

        <div id="history_div" class="dp_sidebar_content">
            <div class="side_title">
                <h2><span>您的浏览历史</span></h2>
            </div>
            <div name="__viewhistory_b2c" style="" id="history_all" class="side_main">
                <ul class="history">
                    @foreach (Products pdt in historyList)
                    {
                        int thePrice = pdt.IsDiscout ? pdt.NewPrice.Value : pdt.Price;
                        string path = pdt.Pictures.First<Pictures>().GetPicFullPath();
                        string title = pdt.Title.Length > 20 ? pdt.Title.Substring(0, 20) : pdt.Title;
                        <li class="detailed clearfix none">
                            <div class="pic">
                                <a href="/product/@pdt.ID" target="_blank" title="@pdt.Title">
                                    <img src="@path" style="width:50px;"
                                </a>
                            </div>
                            @Html.ActionLink(@title, "ProductDetail", new { id = pdt.ID }, new { target = "_black", title = pdt.Title, @class = "name" })
                            <span class="price"><span>￥</span>@thePrice</span>
                        </li>
                    }
                </ul>
            </div>
            <div style="text-align: center; padding: 30px 0px; display: none;" id="history_wait" class="side_main" isloaded="1">
                <img border="0" src="/content/images/loading.gif">
                内容加载中，请稍后...
            </div>
        </div>
    </div>

    @* ===================================== *@
    <div class="dp_main" style="position:relative;">
        <div class="h1_title">
            <h1>@Model.Title</h1>
        </div>
        <div class="show">
            <div class="pic">
                <a target="_blank" href="#" name="__bigpic_b2c">
                    <img id="largePic" alt="@pics[0].PicName" src="@pics[0].GetPicFullPath()">
                </a>
            </div>
            <div class="abbreviation_panel">
                <div id="pic_carousel" class="abbreviation">
                    <ul class="clearfix">
                        @foreach (Pictures pic in pics)
                        { 
                            <li class="">
                                <a class="show_pic_small__d">
                                    <img style="width:47px;cursor:pointer;" alt="@pic.PicName" src="@pic.GetPicFullPath()" onclick="changePic(this)" />
                                </a>
                            </li>
                        }
                        @*<li class=""><a class="show_pic_small__d" value="0" id="#" href="#"><img src="#"></a></li>*@
                    </ul>
                    <script type="text/javascript">
                        function changePic(img) {
                            $("#largePic").attr("src", $(img).attr("src"));
                        }
                    </script>
                </div>
            </div>
        </div>
        <div class="info">
            @{ int price = Model.IsDiscout ? Model.NewPrice.Value : Model.Price; }
            <p class="price_d">价 格：<span id="salePriceTag" class="num promotions_price_d">@price</span></p>
            <div class="property">
                <div id="color_wrap" class="color_wrap">
                    <dl class="color clearfix">
                        <dt>颜色：</dt>
                        @foreach (Colors color in Model.Colors)
                        { 
                            <dd>
                                <a class="cl" title="@color.Name" id="@color.ID" style="cursor:pointer;" onclick="selectColor(this)">
                                    <img style="width:30px;height:30px" src="@color.Pictures.GetPicFullPath()" />
                                </a>
                            </dd>
                        }
                    </dl>
                </div>

                <div id="size_wrap" class="size_wrap">
                    <dl class="size clearfix">
                        <dt>尺码：</dt>
                        @foreach (Sizes size in Model.Sizes)
                        { 
                            <dd>
                                <a title="@size.Name" id="@size.ID" style="cursor:pointer;" onclick="selectSize(this)">@size.Name</a>
                            </dd>
                        }
                    </dl>
                </div>
                <div class="num clearfix">
                    <label>我要买：</label><input type="text" class="text" id="buy_num" name="buy_num" value="1">件<span buy_num="1" style="display: none" class="wrong" id="buy_num_text">请输入购买数量</span>
                </div>
                <p id="itemMessage">请选择：颜色、尺码</p>
                <p id="p_selectedMsg" style="display: none;"><span class="select">已选择：</span><span id="selectMsg">“红黑色”、“175/96(L)”</span></p>
                <div class="but clearfix">
                    <a name="__Shopcar_b2c" title="购买" href="javascript:buy();">
                        <img alt="" src="/content/images/but_buy.gif" /></a>
                </div>
            </div>
        </div>

        <div style="clear: both"></div>
        <ul class="tab_title clearfix">
            <li name="__tab_detail_b2c"><span>商品详情</span></li>
        </ul>
        <div class="item">
            <div class="mall_goods_foursort_style">
                <div class="clear"></div>
                <div class="mall_goods_foursort_style_frame">品牌：@Model.Brand.Name</div>
                @foreach (AttrContents attr in Model.AttrContents)
                {
                    <div class="mall_goods_foursort_style_frame">@attr.AttrTitles.Title：@attr.Content</div>
                }
                <div class="clear"></div>
            </div>
        </div>


        <div class="pop_wrap" style="display:none;">
            <h3>购物车提示<a name="close" href="javascript:closePop()"></a></h3>
            <div class="pop_cont">
                <p>
                    <img src="/content/images/bg_right.jpg"><span id="buyNum">1</span>件 商品成功放入购物车
                </p>
                @{string str = string.Format("{0}件", cart.ItemCount + 1);}
                <p class="txt_note">购物车共 <span id="cartNum">1件</span> 商品&nbsp;&nbsp;&nbsp;商品金额合计<span class="txt_note_red">¥ <span id="J_payMoney">88.00</span></span></p>
                <div class="pop_btn"><span class="pop_btn_orange" onclick="window.location.href='/cart'" name="goshoppingcart">去购物车结算</span></div>
            </div>
        </div>

    </div>
</div>


